* {
    padding: 0;
    margin: 0;
    
}
.mail{
    margin-top: 20px;
}
#git {
    text-decoration: none;
    color: black;
}
.background { 
    animation: fadein 0.7s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
h3{
    text-align: center;
}
.img {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
}
.about {
    text-align: left;
    margin-top: 70px;
    padding-left: 50px;
    font-size: 35px;
    padding-bottom: 280px;
    width: auto;
    height: auto;
}
.about2 {
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: row; /*세로로 */
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
}
.about3 {
    font-size: 2rem;
    padding-bottom: 350px;
}
body {
    background-color: white;
    color: black;
}
.container { /*container 가운데 내용 */
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column; /*세로로 */
    justify-content: space-between;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0; /*헤더 위 여백*/
    
}
header>p { /*헤더 왼쪽 제목 */
    font-size: 1.5rem;
    font-weight: 700;
}
header>p>a{ /*헤더 왼쪽 제목 a태그 */
    text-decoration: none;
    color: black;
}
header>ul { /*헤더 메뉴 제목 */
    display: flex; /*메뉴 가로로*/
}
header>ul>li { /* li */
    list-style-type: none; /*li 리스트 스타일 제거*/
    margin-left: 1.5rem; /* 간격 생성 */
}
header>ul>li>a { /* a */
    text-decoration: none; /* 밑줄 삭제*/
    font-size: 1.2rem; /* 글자 크기 */
    font-weight: 800;
    color: black;
}

.section { /* section */
    padding: 0 1rem; 
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 300px;
}
.section>p {
    margin-bottom: 2rem;
}
.section>p:first-child { /* section 큰 글자 */
    font-size: 4rem;
    font-weight: 900;
}
.section>p:last-of-type { /* section 작은 글자 */
    font-size: 2rem;
    font-weight: 500;
}

